.my-col{background-color:#D496A7; color: black;}

.my-col1{background-color:#f1dede; color: black;}

.inbox{font-weight:bold}

.btn{border-radius: 20px;}

.bi-reply{float: inline-end;}

.bi-trash3{float: inline-end;}

.list-group-item{background-color: #f1dede;}